<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (submit)="register()">
    <ion-item>
      <ion-label position="floating">Nombre completo</ion-label>
      <ion-input [(ngModel)]="nombre" name="nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Perfil</ion-label>
      <ion-select [(ngModel)]="perfil" name="perfil">
        <ion-select-option value="Comun">Comun</ion-select-option>
        <ion-select-option value="Admin">Admin</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" type="submit" class="ion-margin-top">
      Registrarse
    </ion-button>
  </form>
</ion-content>
